* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
#navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  align-items: center;
  height: 70px;
  background-color: transparent;
  color: white;
  padding: 0 20px;
}
#logo {
  font-size: 25px;
}
#navlist {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: auto;
  margin: 0 20px;
}
.list-element {
  padding: 0 10px;
  margin: 0 10px;
  font-size: 20px;
}
#navlist a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#header-quote-button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: #0fcc7c;
  border: solid #0fcc7c;
  color: white;
}
/*Welcome section*/
.welcome-section {
  display: inline-block;
  text-align: center;
  padding-top: 150px;
  width: 100%;
  background: url("images/first-section-image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  /* filter: saturate(130%); */
}
.welcome-title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
.main-title {
  color: white;
  font-size: 80px;
  font-weight: 900;
  width: 900px;
  margin: 30px auto;
}
.welcome-section-description {
  color: white;
  font-size: 24px;
  width: 700px;
  margin: 30px auto;
}
#section-quote-button {
  padding: 15px 0;
  border-radius: 30px;
  margin: 0 5px;
  width: 300px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: #0fcc7c;
  border: 2px solid #0fcc7c;
  color: white;
}
.discover_more_btn {
  padding: 15px 0;
  border-radius: 30px;
  margin: 0 5px;
  width: 300px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid;
  color: white;
}
.cards-section {
  display: flex;
  padding: 80px 20px;
  /* position: absolute; */
}
@media screen and (max-width: 700px) {
  .cards-section {
    display: block;
    width: 100%;
  }
}

.green-card {
  background-color: #0fcc7c;
  font-size: 16px;
  margin: auto 20px;
  padding: 40px;
  height: 320px;
  border-radius: 40px;
  color: white;
}
.green-card-elements {
  display: flex;
  align-items: center;
}
.stat-number {
  font-size: 35px;
  margin: 10px auto;
}
.white-card {
  background-color: white;
  font-size: 16px;
  margin: 15px;
  padding: 50px;
  align-content: center;
  align-items: center;
  /* height: 320px; */
  border-radius: 40px;
  text-align: left;
  color: #00384f;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-heading-title {
  font-size: 28px;
  margin: 20px auto;
}
.learn-more-btn,
.grid_bloc_btn {
  padding: 10px 0;
  border-radius: 30px;
  margin: 20px 5px;
  width: 150px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: #0fcc7c;
  border: 2px solid #0fcc7c;
  color: white;
}
.white-card-text {
  font-size: 20px;
}
/*about us section*/
.about-us-section {
  display: flex;
  height: 100%;
  align-items: stretch;
}

@media screen and (max-width: 700px) {
  .about-us-section {
    display: inline-block;
    margin: 30px;
    width: 100%;
  }
}

.left-items,
.grid_section_titles {
  padding: 48px;
  color: #00384f;
}

.green-title {
  color: #0fcc7c;
  text-transform: uppercase;
  font-size: 18px;
}
.about-us-heading-title,
.grid-section-heading-title {
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 700;
}
.aboutus-text {
  font-size: 20px;
  margin-bottom: 40px;
}
.about-us-image {
  width: 735px;
  max-width: 100%;
  height: 490px;
  border-radius: 15px;
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  .left-items {
    padding: 0;
  }
  .about-us-image {
    display: inline;
    width: 100%;
  }
}
.box {
  background-color: #e1f5ec;
  padding: 16px;
  border-radius: 10px;
  height: 116px;
  width: 600px;
}
@media screen and (max-width: 700px) {
  .aboutus-text {
    width: 100%;
  }
  .box {
    margin-right: 30px;
    height: 116px;
    width: 600px;
  }
}
.box-title {
  margin: 0 0 6px;
}
.box-text {
  margin: 0 0 10px;
}
/*Our business section*/
.our-business-section {
  margin-top: 100px;
  text-align: center;
}
.dark_background {
  background-color: #00384f;
  color: #fff;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 200px;
}
.dark-background-title {
  font-size: clamp(2rem, 1rem + 10vw, 5rem);
  font-weight: 700;
  margin: 30px auto;
}
.dark-background-text {
  font-size: 20px;
}
.our_business {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: -7em 20px 7em 20px;
  align-items: center;
}

.business_card {
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 15%);
}
.business-card-img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
}
.business-card-items {
  margin: 30px;
}
.card-title {
  color: #00384f;
  font-size: clamp(2rem, 1rem + 10vw, 2rem);
  font-weight: 700;
}
.card-text {
  font-size: 20px;
  color: darkgray;
  font-weight: 100;
}
/*Grid section*/
.grid_section {
  align-items: center;
  justify-content: center;
}
.grid_section_titles {
  text-align: center;
}
.grid_section_blocs {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.grid_bloc {
  padding: 32px;
  border: red solid;
  border-radius: 30px;
  margin: 10px;
  max-width: 31.7%;
  color: #00384f;
}
.grid_bloc_title {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 20px;
}
.grid_bloc_text {
  padding: 20px 30px 30px auto;
}
