* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 600px) {
  html {
    font-size: 62.5%;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
  }
}
body {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  background: rgba(150, 172, 192, 0.027);
}
/*Header*/
header a {
  text-decoration: none;
}
header {
  padding: 0 20px;
  background-color: transparent;
  position: absolute;
  height: 5.625rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #00394f;
}
@media (min-width: 600px) and (max-width: 768px) {
  header {
    width: 100%;
  }
}
#brand {
  font-weight: bold;
  font-size: 2.6rem;
  display: flex;
  align-items: center;
}
#brand a {
  color: white;
}
ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul a {
  color: #fff;
  text-decoration: none;
}
ul a:hover {
  color: #0fcc7c;
  transition: 0.5s;
}

ul li {
  padding: 0 0.625rem;
  margin: 0 0.625rem;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (max-width: 470px) {
  #brand {
    font-size: 1.4rem;
  }
}
#quote_btn {
  padding: 0.75rem 1.563rem;
  border-radius: 30px;
  background-color: #0fcc7c;
  font-size: 2.125rem;
  border: 2px #0fcc7c;
  color: #fff;
}
#quote_btn:hover {
  background-color: #00384f;
  transition: 0.5s;
  border: 2px #00384f;
}
#quote_btn a {
  color: #ffffff;
}
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.25em;
}
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0 0 0;
}
.mobile-menu {
  background-color: #00384f;
  display: none;
  position: absolute;
  align-items: center;
  top: 70px;
  left: 0;
  height: calc(70vh - 50px);
  width: 100%;
  border-radius: 20px;
}
.mobile-menu li {
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  #brand {
    font-size: 1.4rem;
  }
  ul li {
    font-size: 1.3rem;
  }
  #quote_btn {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 786px) and (max-width: 992px) {
  #brand {
    font-size: 1.7rem;
  }
  ul li {
    font-size: 1.5rem;
    font-weight: 100;
  }
  #quote_btn {
    font-size: 1.2rem;
  }
}

/*!Welcome section*/
.welcome-section {
  padding-top: 50px;
}
.welcome_section_background {
  top: 0;
  background: url("images/first-section-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}
.welcome-section-titles {
  text-align: center;
  padding-top: 15rem;
  display: block;
  max-width: 100%;
}
@media (max-width: 600px) {
  .welcome-section-titles {
    padding-top: 10rem;
  }
}
.welcome-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-title {
  font-size: 72px;
  font-weight: 900;
  max-width: 60rem;
  margin: 1.875rem auto;
}

.welcome-section-description {
  font-size: 20px;
  font-weight: 700;
  max-width: 60rem;
  letter-spacing: 1px;
  margin: 1.875rem auto;
}
@media screen and (max-width: 600px) {
  .main-title {
    font-size: 40px;
  }
  .welcome-title {
    font-size: 20px;
  }
  .welcome-section-description {
    font-size: 16px;
    padding: auto 20px;
  }
}
.section-btn {
  padding: 0.8rem 0;
  border-radius: 30px;
  width: 18.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  color: white;
}
@media screen and (min-width: 600px) {
  .section-btn {
    font-size: 2.25rem;
  }
}

.section-quote-button {
  background-color: #0fcc7c;
  border: 2px solid #0fcc7c;
  margin: 5px;
}
.section-quote-button:hover {
  background-color: #00384f;
  border: 2px solid #00384f;
  transition: all 0.5s;
}
.discover_more_btn {
  background-color: transparent;
  border: 2px solid #fff;
  margin: 5px;
}
.discover_more_btn:hover {
  color: #0fcc7c;
  border: 2px solid #0fcc7c;
  transition: all 0.5s;
}
.welcome_section_buttons {
  margin: 40px 0;
}
/*cards section*/
.cards-section {
  display: flex;
  padding: 5rem 2.5rem;
  margin: -7em 20px 7em 20px;
}
.cards-container {
  gap: 20px;
}
.green-card {
  text-align: center;
  background-color: #0fcc7c;
  padding: 48px;
  border-radius: 40px;
  color: white;
}
@media screen and (max-width: 992px) {
  .green-card {
    margin-bottom: 20px;
  }
}
.green-card-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stat-number {
  font-size: 35px;
  font-weight: 700;
}
.white-card {
  background-color: white;
  padding: 48px;
  align-content: center;
  border-radius: 40px;
  text-align: left;
  color: #00384f;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.white-card-text {
  font-style: 14px;
  margin-bottom: 14px;
  font-weight: 100;
}
.card-heading-title {
  font-size: 25px;
  font-weight: 900;
  margin: 20px auto;
}
.learn-more-btn,
.grid_bloc_btn {
  width: 150px;
  margin: 20px 5px;
}
.btn_style,
.learn-more-btn {
  padding: 10px 0;
  border-radius: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: #0fcc7c;
  border: 2px solid #0fcc7c;
  color: white;
  outline: 0;
}
.btn_style:hover {
  background-color: #00384f;
  color: #fff;
  border: 2px solid #00384f;
  transition: all 0.5s;
}
.white-card-text {
  font-size: 20px;
  font-weight: 200;
}
@media screen and (max-width: 992px) {
  .cards-section {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .cards-container {
    display: block;
    /* margin-top: 100px; */
  }
}
/*about us section*/
.about-us-section {
  display: flex;
  height: 100%;
  margin: 60px 40px;
}

@media screen and (max-width: 992px) {
  .about-us-section {
    display: block;
    margin: auto;
    justify-content: center;
    padding: 20px;
    align-items: center;
  }
}
.left-items,
.grid_section_titles,
.carousel_titles {
  padding: 48px;
  color: #00384f;
}
.green-title {
  color: #0fcc7c;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.about-us-heading-title,
.grid-section-heading-title,
.carousel-heading-title,
.shop_heading_title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #00384f;
}
@media screen and (max-width: 992px) {
  .about-us-heading-title,
  .grid-section-heading-title,
  .carousel-heading-title,
  .shop_heading_title,
  .main-background-title {
    font-size: 40px;
  }
  .aboutus-text,
  .grid_section_text {
    font-size: 16;
  }
  .green-title {
    font-size: 30px;
  }
}
.aboutus-text,
.grid_section_text {
  font-size: 20px;
  margin-bottom: 40px;
}
.about-us-image {
  display: block;
  max-width: 60rem;
  text-align: center;
  align-self: center;

  border-radius: 15px;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .left-items {
    padding: 0;
  }
  .about-us-image {
    width: 100%;
    margin: auto;
    align-self: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }
}
.box {
  display: flex;
  font-size: 16px;
  background-color: #e1f5ec;
  padding: 16px;
  align-items: flex-start;
  border-radius: 10px;
  margin: auto auto 30px auto;
}
.box_icone {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-right: 15px;
}
@media screen and (max-width: 700px) {
  .aboutus-text {
    width: 100%;
  }
}
.box_items {
  margin: auto auto auto 20px;
}
.box-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  margin: 5px auto;
}
.box-text {
  margin: 10px 0;
  font-weight: 100;
}
/*Our business section*/
.our-business-section {
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
.dark_background {
  background-color: #00384f;
  color: #fff;
  text-align: center;
  padding-top: 10rem;
  max-width: 100%;
  width: 100%;
  padding-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .dark_background {
    max-width: 100%;
  }
}
.main-background-title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
}
.dark_background-title {
  margin: 30px auto;
}
.dark-background-text,
.carousel-text {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  max-width: 800px;
}
.our_business {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin: -7em 70px 7em 70px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .our_business {
    grid-template-columns: 1fr;
  }
}
.business_card {
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 15%);
  overflow: hidden;
}
.business_card:hover {
  border-radius: 0 0 10px 10px;
}
.business-card-img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  transition: 0.5s;
}
.business_card:hover img {
  transform: scale(1.1);
}
.business-card-items {
  margin: 30px;
  overflow: hidden;
}
.card-title {
  color: #00384f;
  font-size: 2rem;
  font-weight: 700;
}
.card-text {
  font-size: 18px;
  color: #54595f;
  font-weight: 100;
}
/*carousel section */
.carousel_section {
  margin: 100px auto 0 auto;
}
.carousel_img {
  height: auto;
  text-align: center;
  align-items: center;
  opacity: 0.9;
}
.carousel_title {
  font-size: 60px;
  font-weight: 900;
}
.carousel_titles {
  margin: auto;
  text-align: center;
  max-width: 900px;
}
.carousel-item-text {
  font-size: 20px;
}
/*Grid section*/
.grid_section {
  align-items: center;
  justify-content: center;
  margin: 100px auto 150px auto;
}
.grid_section_titles {
  text-align: center;
}
.row_div {
  justify-content: center;
}
.grid_section_blocs {
  justify-content: center;
  display: flex;
  margin: auto;
}
.grid_bloc {
  padding: 32px;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 15%);
  border-radius: 30px;
  margin: 10px;
  color: #00384f;
}
.grid_bloc:hover {
  background-color: #e1f5ec;
  transition: all 0.5s;
}
.grid_bloc_title {
  font-size: 2.3rem;
  font-weight: 900;
  margin: 20px 0;
}
.grid_bloc_text {
  padding: 20px 30px 30px auto;
  font-size: 1.8rem;
  font-weight: normal;
}
@media screen and (max-width: 600px) {
  .grid_bloc_title {
    font-size: 1.3rem;
  }
  .grid_bloc_text {
    font-size: 1rem;
  }
}
/*Form section*/
.form_section {
  display: block;
  margin-bottom: 100px;
  max-width: 100%;
}
.benefits_div {
  float: right;
  padding: 40px 20px 0 40px;
  max-width: 700px;
}
.second_dark_background {
  display: flex;
  background-color: #00384f;
  color: #fff;
  max-width: 100%;
  padding: 50px 40px;
  height: 100%;
}
.form-heading-title {
  margin: 30px auto;
}
.second-dark-background-text {
  font-size: 20px;
  margin: 30px 0;
}
.form_section_list li {
  margin: 10px auto;
  font-size: 20px;
}
.form_section_list {
  list-style: none;
  padding-left: 0;
  display: block;
}
/*!new form*/
* {
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 15%);
  padding: 100px 40px;
  border-radius: 30px;
  margin: -10em auto 7em 0;
}
#inputName,
#inputEmail,
#inputPhone,
#inputCompany,
#inputSubject,
#inputMessage {
  background-color: #e1f5ec;
  font-size: 16px;
  color: #54595f;
  border: none;
  border-radius: 30px;
  min-height: 47px;
  padding: 6px 16px;
}
label {
  display: inline-block;
  color: #00384f;
  font-weight: 600;
  font-size: 18px;
  margin: 5px 0;
}
@media screen and (max-width: 992px) {
  .form-heading-title {
    font-size: 25px;
  }
  .form_section_list {
    font-size: 20px;
  }
  label {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .second_dark_background {
    display: block;
  }
}
.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}
.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}
.input-control .error {
  color: #ff3860;
  font-size: 11px;
  height: 13px;
}

/* shop */
.shop_section {
  display: flex;
  margin: 60px auto;
  max-width: fit-content;
  text-align: center;
  justify-content: center;
}
.shop_text {
  display: block;
  padding: 48px;
  text-align: left;
}
.shop_image {
  max-width: 60rem;
  display: block;
  border-radius: 15px;
  margin: auto auto auto 40px;
  align-self: center;
}
.shop_btn {
  padding: 10px 70px;
}

@media screen and (max-width: 992px) {
  .shop_section {
    flex-direction: column-reverse;
    margin: auto;
    justify-content: center;
    padding: 20px;
    align-items: center;
  }
  .shop_text {
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  .shop_image {
    width: 100%;
    margin: 40px auto auto auto;
    align-self: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }
}
/*Footer*/
footer {
  font-size: 16px;
  font-weight: 100;
  background-color: #e1f5ec;
  color: #00384f;
  margin-bottom: 0;
}
footer h6 {
  font-size: 20px;
  font-weight: 700;
}
footer h2 {
  font-size: 30px;
  font-weight: 900;
}
