* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
#navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  align-items: center;
  height: 70px;
  background-color: transparent;
  color: white;
  padding: 0 20px;
}
#logo {
  font-size: 25px;
}
#navlist {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: auto;
  margin: 0 20px;
}
.list-element {
  padding: 0 10px;
  margin: 0 10px;
  font-size: 20px;
}
#navlist a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#header-quote-button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: #0fcc7c;
  border: solid #0fcc7c;
  color: white;
}
/*Welcome section*/
.welcome-section {
  display: inline-block;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
  background: url("images/first-section-image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  /* filter: saturate(130%); */
}
.welcome-title {
  color: white;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
}
.main-title {
  color: white;
  font-size: 80px;
  width: 900px;
  margin: 30px auto;
}
.welcome-section-description {
  color: white;
  font-size: 24px;
  width: 700px;
  margin: 30px auto;
}
#section-quote-button {
  padding: 15px 0;
  border-radius: 30px;
  margin: 0 5px;
  width: 300px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: #0fcc7c;
  border: 2px solid #0fcc7c;
  color: white;
}
.discover_more_btn {
  padding: 15px 0;
  border-radius: 30px;
  margin: 0 5px;
  width: 300px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid;
  color: white;
}
.cards-section {
  display: flex;
  padding: 80px 20px;
  /* position: absolute; */
}
.green-card {
  background-color: #0fcc7c;
  font-size: 16px;
  margin: auto 20px;
  padding: 40px;
  height: 320px;
  border-radius: 40px;
  color: white;
}
.green-card-elements {
  display: flex;
  align-items: center;
}
.stat-number {
  font-size: 35px;
  margin: 10px auto;
}
.white-card {
  background-color: white;
  font-size: 16px;
  margin: 15px;
  padding: 50px;
  align-content: center;
  align-items: center;
  /* height: 320px; */
  border-radius: 40px;
  text-align: left;
  color: #00384f;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-heading-title {
  font-size: 28px;
  margin: 20px auto;
}
.learn-more-btn {
  padding: 10px 0;
  border-radius: 30px;
  margin: 30px 5px;
  width: 150px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  cursor: pointer;
  background-color: #0fcc7c;
  border: 2px solid #0fcc7c;
  color: white;
}
.white-card-text {
  font-size: 20px;
}
